header.head
	.head__search-more
		.wrapper
			<!-- для открытия и закрытия поиска есть статические методы opendSearch и closeSearch у класса headSearch -->
			.search
				.search__form
					form(action="#")
						.search__form-input
							input(type="search" placeholder="Более 550 оттенков")
				.search__close
					button.search-close
	.head__submenu
		.wrapper
			nav.head-submenu
				.head-submenu__column
					.head-submenu__column-title Гель • лаки
					ul.head-submenu__menu.head-submenu__menu--columns
						each title, i in ["Baby Nude", "Classik", "Camouflage", "Galaxy", "Gothic", "Summer", "Gray Moon", "Diamond", ]
							li
								if i == 0
									a.head-submenu__menu-link.active(href="#" data-img-src="img/photos/ico-series.png")=title
								else
									a.head-submenu__menu-link(href="#" data-img-src="img/photos/ico-series.png")=title
				.head-submenu__column
					.head-submenu__column-title TOP
					ul.head-submenu__menu
						each title in ["Top", "Top No wipe", "Top Velvet", "Top Rubber",]
							li
								a.head-submenu__menu-link(href="#" data-img-src="img/photos/ico-series1.png")=title
				.head-submenu__column
					.head-submenu__column-title base
					ul.head-submenu__menu
						each title in ["Base Rubber",]
							li
								a.head-submenu__menu-link(href="#" data-img-src="img/photos/ico-series.png")=title
				.head-submenu__column.head-submenu__column--img
					img(src="", alt="")
	.wrapper
		.head__wrap
			.head__burger
				.burger
					span
			.head__logo
				a.logo(href="#")
					figure
						img(src="img/photos/logo.png", alt="RockNail", title="RockNail")
					figure
						img(src="img/photos/logo-hover.png", alt="RockNail", title="RockNail")
			.head__title
				button.head-title Гель • лаки
			.head__mobile_container
				.head__mobile_dropdown
					a(href="#").head__mobile_dropdown_btn Вход / Регистрация
					ul Гель • лаки
						li 
							a(href="#1") Все категории
						li 
							a(href="#2") Baby Nude
						li 
							a(href="#3") Classik
						li 
							a(href="#3") Camouflage
						li 
							a(href="#3") Galaxy
						li 
							a(href="#3") Gothic
						li 
							a(href="#3") Summer
						li 
							a(href="#3") Gray Moon
						li 
							a(href="#3") Diamond				
					ul TOP
						li 
							a(href="#1") Все категории
						li 
							a(href="#2") Baby Nude
						li 
							a(href="#3") Classik
					ul base
						li 
							a(href="#1") Все категории
						li 
							a(href="#2") Baby Nude
						li 
							a(href="#3") Classik
				nav.head__menu
					ul.menu
						li
							a.menu__link.active(href="#") Акции
						each title in ["О нас", "Доставка и оплата", "Отзывы", "Оптовикам", ]
							li
								a.menu__link(href="#")=title
				.head__phone
					address.head-phone
						a(href="tel: 8 800 569 89 89") 8 800 569 89 89
			.head__search
				button.search-button
			.head__favorite
				a.favorite-link(href="#", data-count="1")
			.head__lc
				a.lc-link(href="#")
			.head__cart
				cart-line(inline-template="")
					div
						.head__cart-wrap
							a.cart-link(href="#", data-count="4")
						.cart-line__wrap
							.cart-line
								.cart-line__title Ваша корзина
								.cart-line__content
									.small-cart
										- for (let i = 0; i < 4; i++)
											.small-cart__one
												.tovar-small
													a.tovar-small__img(href="#") 
														img(src="img/photos/nail.png")
													.tovar-small__desc
														a.tovar-small__desc-title(href="#") Гель-лак Rock Nail Baby Nude
														.tovar-small__desc-bot
															.tovar-small__desc-info "045 Blue Ocean",
															.tovar-small__desc-price 1 x 250 Р
														a.tovar-small__desc-delete(href="#")
								.cart-line__footer
									.cart-line__footer-total
										.cart-line__footer-total-count 4 товара на сумму
										.cart-line__footer-total-summ 1234 Р
									.cart-line__footer-btn
										a.gradient-btn(href="#") 
											span Оформить заказ
